<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alunos</title>
    
    <style>
        table, th, td {
          border: 1px solid black;
        }
    </style>

</head>

<body>
    <h1>Editar Aluno</h1>    
    <a href="/">Menu</a>
    <a href="/alunos">Voltar</a>
    <br>
    <br>
    <form th:action="@{/salvarAluno}" th:object="${aluno}" method="POST" id="formAluno">
      
        <label>Matricula:</label> <span th:text="${aluno.matricula}"></span>
        <br>
        <input type="hidden" th:value="${aluno.matricula}" th:field="${aluno.matricula}" name="matricula" />
      
        <label>Nome:</label>
        <input type="text" placeholder="Digite o nome" th:value="${aluno.nome}" name="nome" required/>
        <br>  
        <label>Curso:</label>
        <select th:field="${aluno.curso}" required>
            <option value="">Escolha o curso</option>
            <option th:each="curso : ${cursos}"
                        th:value="${curso.id}"
                        th:text="${curso.nome}">
            </option>
        </select>

        <br>
        <br>
        <input type="submit" value="Salvar" />
        <input type="reset"  value="Cancelar"/>
    </form>
    
</body>

</html>